<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Operator Platform</title>
    <link href=" {{url_for('static', filename = 'Static/styles.css')}}" rel ='stylesheet'/>

</head>
<body>
    <h1> Trial name</h1>
    <form action = "/trial_success">
        <input type = "text" name = "Trial name" id = "Trial id" placeholder="Enter Trial Name"/>
        <button type = "submit">Create new trial </button>
    </form>
    
</body>
</html>