<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Operator Platform</title>
    <link href=" {{url_for('static', filename = 'css/styles.css')}}" rel ='stylesheet'/>

</head>
<body>
    <h1> Trial Name: {{ trial }}</h1>
    <h2>Entity Creation Status </h2>
    <p>Sensor entity status :{{entity_sensor_code}} : {{entity_sensor_message}}<br>
        Stress entity status :{{entity_stress_code}} : {{entity_stress_message}}  
    </p>
    <h2>Sensor Provision status</h2>
    <p>Fiware Service path: {{servicepath_status}} : {{servicepath_message}} <br>
        Sensor Provision: {{sensor_status}} : {{sensor_message}} 
    </p>
    <h2>Subscriptions Status </h2>
    <p>Sensor entity subscription status: {{subs_sensor_code}} : {{subs_sensor_message}}<br>
        Stress entity subscription status: {{subs_stress_code}} : {{subs_stress_message}}
    </p>
    <form action = '/runCEP'>
        <button type = "submit">StartCEP</button>
    </form>

    <form action = '/setup'>
        <input type = "text" name = "trial name" id = "trial name" placeholder="Re-Enter Trial Name"/>
        <button type = "submit">Create new trial </button>
    </form>
    
</body>
</html>